    /*
    Flaticon icon font: Flaticon
    Creation date: 09/02/2021 08:35
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-motherboard:before { content: "\f100"; }
.flaticon-adobe-photoshop:before { content: "\f101"; }
.flaticon-html:before { content: "\f102"; }
.flaticon-php-1:before { content: "\f103"; }
.flaticon-gmail-1:before { content: "\f104"; }
.flaticon-youtube-1:before { content: "\f105"; }
.flaticon-linkedin-1:before { content: "\f106"; }
.flaticon-instagram:before { content: "\f107"; }
.flaticon-corel-1:before { content: "\f108"; }
    
    $font-Flaticon-motherboard: "\f100";
    $font-Flaticon-adobe-photoshop: "\f101";
    $font-Flaticon-html: "\f102";
    $font-flaticon-php-1: "\f103";
    $font-Flaticon-gmail-1: "\f104";
    $font-Flaticon-youtube-1: "\f105";
    $font-Flaticon-linkedin-1: "\f106";
    $font-Flaticon-instagram: "\f107";
    $font-Flaticon-corel-1: "\f108";